
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_Login_Register.cshtml";
}
<div class="login-page">
    <div class="login-main">
        <div class="login-head">
            <h1>Login</h1>
        </div>
        <div class="login-block">
            <div id="err_login">
                @Html.ValidationSummary(true)
                <form action="" method="post" id="frm-login">
                    <input type="text" class="frm-login" name="name" placeholder="Email" required="" id="email">
                    <input type="password" class="frm-login" name="password" placeholder="Password" required="" id="passwd">
                    <div class="forgot-top-grids">
                        <div class="forgot-grid">
                            <ul>
                                <li>
                                    <input type="checkbox" id="brand1" value="">
                                    <label for="brand1"><span></span>Remember me</label>
                                </li>
                            </ul>
                        </div>
                        <div class="forgot">
                            <a href="#">Forgot password?</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <input type="submit" name="Sign In" value="Login">
                    <h3>Not a member?<a href="/Register/Register"> Sign up now</a></h3>
                    <h2>or login with</h2>
                    <div class="login-icons">
                        <ul>
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </form>
            </div>
            <h5><a href="/Home/Index">Go Back to Home</a></h5>
        </div>
        }
    </div>
</div>
<!--DANG NHAP-->
<script>
    $(document).ready(function () {
        $("#frm-login").submit(function (e) {
            var form_data_login = {               
                Mail: $("#email").val(),
                Password: $("#passwd").val(),
            };
            $.ajax({
                url: '/Login/Login',
                type: 'POST',
                async: true,
                data: form_data_login,
                success: function (msg_login) {
                    ////alert(msg);
                    if (msg_login == '0') {
                        alert('Password is incorrect!');
                    }
                    else if (msg_login == '1') {
                        alert('Account has not been exist!');
                    }
                    else {
                        $("#login_here").hide();
                        $(".modal-footer").hide();

                        alert('Login successfully!');
                        //$('#err_login1').html('<div class="alert alert-success"><strong>Đăng kí thành công</strong><span> Hệ thống tự chuyển sau vài giây ...</span></div>');
                        setTimeout(
                            //chuyển đến địa chỉ msg_login của controler gửi qua
                            function () {
                                window.location.href = '' + msg_login + '';
                            }, 2000);
                    }
                }
            });
            return false;
        });
    })
    //Load wating bar
    $(document).ajaxStart(function () {
        $("#waiting").show();
    }).ajaxStop(function () {
        $("#waiting").hide();
    });
</script>



